.row {
  margin-bottom: 20px;
}

.row div img{
  width:100px;
  height: 100px;
  margin-top: 20px;
}

.row div input{
  width:100%;
}
.Title{
  text-align: center;
  background-color: grey;
  border: 5px black;
}

body{
  text-align: center;
  background-color: ;
}

.imgPpal{
  width:350px;
  height: 300px;
}

.formulario{
  background-color: black;
  text-decoration-color: white;
  font-style: italic;
  font-weight: bold;
  color: white;
  height: 65px;
}
